services:
  frontend:
    build:
      dockerfile: frontend.Dockerfile
      context: frontend/
    ports:
      - "3000:3000"
    depends_on:
      backend:
        condition: service_started
  backend:
    build:
      dockerfile: backend.Dockerfile
      context: backend/
    ports:
      - "443:443"
    environment:
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      AZURE_STORAGE_CONNECTION_STRING: ${AZURE_STORAGE_CONNECTION_STRING}
      SERVER_SSL_KEY_STORE_PASSWORD: ForzaNapoli
    depends_on:
      database:
        condition: service_healthy
        restart: true
  database:
    build:
      dockerfile: database.Dockerfile
      context: database/
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: bugboard26
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 10s
      retries: 5
      start_period: 10s
      timeout: 10s