@font-face {
    font-family: "NeueHaasGroteskDisp Pro";
    src: url("./Fonts/NHaasGroteskDSPro-55Rg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasGroteskDisp Pro Blk";
    src: url("./Fonts/NHaasGroteskDSPro-95Blk.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasGroteskDisp Pro Md";
    src: url("./Fonts/NHaasGroteskDSPro-65Md.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


.App {
    font-family: "NeueHaasGroteskDisp Pro Blk", sans-serif;
    font-size: 24px;
    text-align: left;
    color: #002060;
    font-style: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepage-container {
    margin-top: 80px;
    padding: 20px;
}