@font-face {
    font-family: "NeueHaasGroteskDisp Pro";
    src: url("./Fonts/NHaasGroteskDSPro-55Rg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasGroteskDisp Pro Blk";
    src: url("./Fonts/NHaasGroteskDSPro-95Blk.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasGroteskDisp Pro Md";
    src: url("./Fonts/NHaasGroteskDSPro-65Md.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}