@font-face {
    font-family: "NeueHaasGroteskDisp Pro Md";
    src: url("./Fonts/NHaasGroteskDSPro-65Md.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    color: #002060;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-center {
    margin-left: auto;
    padding-right: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
}

.logo {
    width: 120px;
    height: 70px;
}

.nav-link {
    color: #002060;
    text-decoration: none;
    font-family: "NeueHaasGroteskDisp Pro Md", sans-serif;
    font-size: 18px;
    position: relative;
    padding-bottom: 2px;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #002060;
    transition: width 0.3s ease;
}

.nav-link:hover::after, .nav-link.active:hover::after {
    width: 100%;
}

.profileMenu {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profileIcon {
    font-size: 35px;
    color: #002060;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 45px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    min-width: 150px;
    z-index: 1001;
}

.dropdown a {
    padding: 10px;
    color: #002060;
    text-decoration: none;
    font-family: "NeueHaasGroteskDisp Pro Md", sans-serif;
}

.dropdown a:hover {
    background-color: #f0f0f0;
}

